*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    font-size: small;
}


/* header styles  */

#menuIcon{
    cursor: pointer;
    padding: .4rem;
    background-color: white;
}

#menuList{
    display: none;
}

menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .8rem;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    padding: .2rem;
    text-decoration: none;
}

header ul li:hover{
    background-color: rgb(225, 148, 96);
    color: #c6c6c6;
    border-radius: 8%;
    border-right: 2px solid royalblue;
}

header svg{
    height: 1rem;
    width: 1rem;
    padding-top: .3rem;
    color: gray;
}

/* ul.register{
    display: inline;
    line-height: 1.5rem;
} */

/* section */

section{
    padding: 1rem;
}

.section1{
    background-color: rgb(215, 196, 215);
    padding: .5rem;
    text-align: center;
}

button{
    padding: .5rem;
    border-radius: 8%;
    cursor: pointer;
}

button.learn-more,
button.log-in{
    background-color: antiquewhite;
}

button.sign-in{
    background-color: rgb(227, 192, 148);
    margin-left: .2rem;
}

button.get-started{
    background-color: rgb(230, 138, 73);
    margin-left: .6rem;
}

form{
    line-height: 2rem;
}

.section3{
    text-align: center;
}

.section3 figure img{
    height: 40%;
    width: 85%;
    padding: 2rem 0 0;
}

div.dog{
    margin-top: 1rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    background-color: #ebebeb;
    padding-bottom: 3rem;
}


/* media screen adjustments */

@media (min-width: 768px) {
    body{
        font-size: large;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem .8rem;
    }

    menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: .5rem .8rem; */
    }

    #menuIcon{
        display: none;
    }

    #menuList{
        display: block;
    }

    header ul li{
        display: inline-block;
        padding: .4rem;
    }

    .section1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5rem 2rem;
    }

    form{
        text-align: center;
        font-size: large;
    }

    figure img{
        height: auto;
        width: auto;
    }

    .doggo-img{
        height: auto;
        width: auto;
    }

    div.dogs{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        padding-bottom: 3rem;
    }
}