* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* General styles  */

a{
  padding: .2rem;
}

button {
  padding: .6rem;
  border-radius: 8%;
  cursor: pointer;
}

li{
  list-style-type: none;
}

section {
  padding: 1rem;
}


/* ==== DARK THEME==== */

div.dark-theme{
  cursor: pointer;
  background-color: #222;
  height: 1.3em;
  width: 1.3em;
  border-radius: 100%;
}


/* ====== HEADER SECTION ===== */

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edc9;
  padding: .5em 2em;
}

header h1{
  opacity: .8;
}

.menu{
  cursor: pointer;
  font-size: 1.4em;
}

.menu span{
  display: block;
  height: 2px;
  width: 20px;
  background-color: #111;
  margin-bottom: 3px;
}

/* HEADER DARK THEME STYLES  */

header.dark-theme{
  background-color: #111;
  color: whitesmoke;
}

header.dark-theme > #dark-theme{
  background-color: whitesmoke;
}

header.dark-theme > div.menu{
  background-color: #111;
  padding-top: 8px;
}

header.dark-theme > div.menu span{
  background-color: white;
}

/* ======NAV STYLES ===== */

nav{
  padding: 1rem;
  padding-top: 5rem;
  background-color: #bcc57e;
  height: 100%;
  width: 200px;
  position: absolute;
  top: 5%;
  left: -200px;
}

nav li a{
  color: #000;
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}

/* Menu Open state  */

nav.open{
  left: 0;
  position: fixed;
  z-index: 6;
}

.menu.open span:nth-child(1){
  transform: rotate(45deg) translateY(8px);
  width: 1em;
}

.menu.open span:nth-child(2){
  opacity: 0;
  width: 0;
}

.menu.open span:nth-child(3){
  transform: rotate(-45deg) translateY(-8px);
  width: 1em;
}

/* MENU transitions */

nav{
  transition: left ease-in .3s;
}

.menu span{
  transition: all ease-in 0.3s;
}

/* MENU DARK THEME */



/* NAV DARK THEME */

nav.dark-theme{
  background-color: #333;
}

nav.dark-theme li a{
  color: #eee;
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}

nav.dark-theme li a:hover{
  color: white;
  transition: all .3s;
}

nav.dark-theme button:hover{
  background-color: rgb(241, 205, 205);
  transition: all .3s;
}

nav.dark-theme button a:hover{
  color: #111;
}

nav button.log-in a:active{
  margin-top: 5px;
}


/* BUTTON STYLES */

button a{
  text-decoration: none;
}

button.log-in {
  background-color: #e9edc9;
}

button.sign-in, 
button.get-started {
  background-color: #faedcd;
}


/* ======SECTION 1 STYLES =====  */

.section1 {
  background-image: url(images/french\ bulldog.jpg);
  background-size: cover;
  height: 60vh;
  z-index: 0;
}

.section1 div.heading{
  padding-top: 4em;
  line-height: 4rem;
  text-align: center;
  color: #fff;
  opacity: .9; 
  transition: left ease-in .4s;
}

/* SECTION 1 DARK THEME */
.section1.dark-theme{
  background-image:url(images/black.jpg);
  background-size: cover;
}

.section1.dark-theme div.heading,
.section2.dark-theme h3{
  color: whitesmoke;
}


/* ==== DIFFERENT BUTTON STYLES===== */

button.learn-more{
  background-color: #d4a373;
}

.section1 .get-started {
  background-color: #faedcd;
  margin-left: .5rem;
}

/* ===== FORM STYLES ==== */

form {
  padding: 3rem 0 0 1em;
  line-height: 3rem;
  height: 100vh;
  background-color: #faedcd;
}

form input {
  width: 90%;
  padding: .5em;
}

form input:focus {
  background-color: #e9edc9;
}

form span{
  display: block;
}

form a{
  color: rgb(48, 105, 212);
}

form button a{
  color: green;
  font-size: 1.1em;
}

form button:hover{
  background-color: rgb(176, 230, 176);
  transition: all .3s;
}

form button a:hover{
  color: #111;
}

/* ===== SECTION 2 styles ===== */
.section2{
  text-align: center;
  background-color: #fefae0;
  z-index: 1;
}

.section2 img {
  height: 40%;
  width: 85%;
  padding: 2rem 0 0;
}

.section2 .dog {
  position: relative;
  margin-top: 1.5em;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
  padding-bottom: 2rem;
}

.section2 label{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  padding: .6em;
  border-radius: 20%;
  transform: rotate(15deg);
  background-color: aliceblue;
}

div.dog button{
  margin-top: 1em;
  background-color: #305dd6;
}

div.dog button.remove{
  background-color: #bf2234;
  margin-left: .6em;
}

.section2 button{
  color: #fff;
}

/* Section 2 dark theme  */
.section2.dark-theme{
  background-color: #111;
}

.section2.dark-theme .dog{
  background-color: #333;
  color: whitesmoke;
  opacity: 1;
}

.section2.dark-theme label{
  color: whitesmoke;
  background-color: #555;
}

.section2.dark-theme img{
  opacity: .8;
}

/* FOOTER SECTION */

footer{
  background-color: #8c8f72;
  line-height: 1rem;
  padding: 1.5em .5em;
  text-align: center;
} 

footer input{
  width: 60vw;
  padding: .4rem;
}

footer p{
  margin-top: 1rem;
  color: whitesmoke;
}

footer a{
  color: whitesmoke;
}

footer button{
  padding: .8em 2em;
}

footer button:hover{
  background-color: white;
}

/* FOOTER DARK THEME */
footer.dark-theme{
  background-color: #000;
  color: whitesmoke;
}


/* media screen adjustments */

@media (min-width: 768px) {
  body {
    font-size: large;
  }

  .section1 {
    height: 80vh;
    z-index: 0;
  }

  .section1 div.heading{
    padding-top: 7rem;
  }

  .section2 img{
    height: 40vh;
    width: 20vw;
  }

  .section2 h3{
    padding-top: 3em;
  }

  form {
    line-height: 3.5em;
    text-align: center;
    font-size: large;
    height: 100vh;
    padding: 5em 2em;
  }

  form input {
    width: 50%;
    padding: .5rem;
  }

  div.dog-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  div.dog {
    width: 25vw;
  }

  footer input{
    width: 40vw;
    padding: .4rem;
  }

  footer p{
    text-align: center;
    margin-top: 3rem;
  }
}