* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* General styles  */

a{
  padding: .2rem;
}

button {
  padding: .6rem;
  border-radius: 8%;
  cursor: pointer;
}

li{
  list-style-type: none;
}

section {
  padding: 1rem;
}


/* ==== DARK THEME==== */

div.dark-theme{
  cursor: pointer;
  background-color: #222;
  height: 1.3em;
  width: 1.3em;
  border-radius: 100%;
}


/* ====== HEADER SECTION ===== */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edc9;
  padding: 20px;
}

header h1{
  opacity: .8;
}

.burger{
  cursor: pointer;
  font-size: 1.2em;
  z-index: 1;
}

.burger span{
  display: block;
  height: 2px;
  width: 20px;
  background-color: #111;
  margin-bottom: 3px;
}

/* HEADER DARK THEME STYLES  */

header.dark-theme{
  background-color: #111;
  color: whitesmoke;
}

header.dark-theme .burger span{
  background-color: white;
}

header.dark-theme div.dark-theme{
  cursor: pointer;
  background-color: whitesmoke;
  height: 1.3em;
  width: 1.3em;
  border-radius: 100%;
}

/* ======NAV STYLES ===== */

nav{
  padding: 1rem;
  padding-top: 5rem;
  background-color: #222;
  height: 100vh;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 0;
}

nav li a{
  color: #eee;
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}

/* Open state  */

nav.open{
  left: 0;
}

.burger.open span:nth-child(1){
  transform: rotate(45deg) translateY(8px);
  background-color: #fff;
  width: 1em;
}

.burger.open span:nth-child(2){
  opacity: 0;
  width: 0;
}

.burger.open span:nth-child(3){
   transform: rotate(-45deg) translateY(-8px);
   background-color: #fff;
   width: 1em;
}

/* MENU transitions */

nav{
  transition: left ease-in .3s;
}

.burger span{
  transition: all ease-in 0.3s;
}


/* BUTTON STYLES */
button.log-in {
  background-color: #e9edc9;
}

button.sign-in, 
button.get-started {
  background-color: #faedcd;
}

/* ======SECTION 1 STYLES =====  */

.section1 {
  background-image: url(images/french\ bulldog.jpg);
  background-size: cover;
  height: 60vh;
}

.section1 div.heading{
  padding-top: 5em;
  line-height: 4rem;
  text-align: center;
  color: #fff;
  opacity: .9; 
}

/* SECTION 1 DARK THEME */
.section1.dark-theme{
  background-image:url(images/black.jpg);
  background-size: cover;
}

.section1.dark-theme div.heading{
  color: whitesmoke;
}


/* ==== DIFFERNT BUTTON STYLES===== */

button .learn-more{
  background-color: #d4a373;
}

.section1 .get-started, button {
  background-color: #faedcd;
  margin-left: .5rem;
}

/* section 2 styles  */
.section2{
margin: -1rem;
}

form {
  padding: 1rem;
  line-height: 4rem;
  padding-left: 8rem;
  background-color: #faedcd;
}

form input {
  width: 60%;
  padding: .5rem;
  text-align: left;
}

form input:focus {
  background-color: #e9edc9;
}

/* ===== SECTION 3 styles ===== */
.section3{
  text-align: center;
  background-color: #fefae0;
}

.section3 figure img {
  height: 40%;
  width: 85%;
  padding: 2rem 0 0;
}

.fourth-dog{
  margin-top: -3rem;
}

.section3 .dogs {
  padding: 1.5rem;
}

.section3 .dog {
  margin-top: 1rem;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
  padding-bottom: 3rem;
}

footer{
    background-color: #d4a373;
    line-height: 1rem;
    padding: 1rem;
    text-align: center;
} 

footer input{
  width: 60vw;
  padding: .4rem;
}

footer p{
  text-align: center;
  margin-top: 1rem;
  color: #e9edc9;
}

footer p a{
  color: #e9edc9;
}


/* DARK THEME STYLES  */


/* media screen adjustments */

@media (min-width: 768px) {
  body {
    font-size: large;
  }

  .section1 div.heading{
    padding-top: 8rem;
  }

  #menuIcon {
    display: none;
  }

  .section1 {
    height: 80vh;
    z-index: 0;
  }

  form {
    text-align: center;
    font-size: large;
  }

  input {
    width: 50%;
    padding: .5rem;
  }

  figure img {
    height: auto;
    width: auto;
  }

  .dropdown {
    display: none;
  }

  div.dogs {
    display: flex;
    justify-content: space-evenly;
  }

  div.dog {
    width: 25vw;
  }

  .second-dog,
  .fifth-dog {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .fifth-dog {
    margin-bottom: 3rem;
  }

  .fourth-dog {
    margin-top: 1rem;
  }

  footer input{
    width: 40vw;
    padding: .4rem;
  }

  footer p{
    text-align: center;
    margin-top: 3rem;
    color: #e9edc9;
  }
}